


/*中间*/

/*文档搜索*/
.top-search{
    font-size: 18px;
}

.top-search input,.top-search button{border-radius:6px !important; height:46px;}
.form-control:focus{
    box-shadow: 0 0 10px #ea9622;border-color: #ea9622;
}
/*文档中间块*/
#overview{  color:#fff; overflow: hidden; margin-left: 25px; margin-right: 25px; }
#overview .first{  float: left; overflow: hidden;  width: 40%;  }
#overview .outer{  float: left; overflow: hidden;  width: 40%;  }
#overview .outer .wrap1{  float: left; width: 100%;  }
#overview .outer .wrap2{  float: right; width: 50%;  }
#overview .last{  float: right; overflow: hidden;  width: 20%;  }
#overview a{display: block; color: #fff;  text-decoration: none;text-align: left;margin-bottom: 10px;}


#overview2{  color:#fff; overflow: hidden; margin-left: 25px; margin-right: 15px; margin-bottom: 20px;  }

#overview2 .outer{  float: left; overflow: hidden;  width: 100%;  }

#overview2 .outer .wrap1{  float: left; width: 100%;  }
#overview2 .outer .wrap2{  float: right; width: 50%;  }


#overview2 a{display: block; color: #fff;  text-decoration: none;text-align: left;margin-bottom: 10px;}



.index-start{  height:220px; padding-left: 35%;padding-right:8%;margin-right:10px;background: url(../img/index-start.png) no-repeat 10% center;  }
.index-start .title{  display: block;padding-top:70px;margin-bottom: 10px;font-size: 16px;  }
.index-start .intro{  font-size: 12px; line-height: 20px;  }
.index-app {  height:105px;line-height: 105px;  padding-left: 18%;margin-right:10px;background: url(../img/index-app.png) no-repeat 7.5% center;  }
.index-drf {  height:105px;line-height: 105px;  padding-left: 34%;margin-right:10px; background: url(../img/index-drf.png) no-repeat 15% center;  }
.index-iom {  height:105px; line-height: 105px;  padding-left: 34%;margin-right:10px; background: url(../img/index-iom.png) no-repeat 17% center;  }
.index-api{  height:220px;line-height: 220px;  padding-left: 48%;background: url(../img/index-api.png) no-repeat 10% center;  }
.index-color1 {  background-color: #e18c5a;  }
.index-color1:hover{  background-color: #f49054;  }
.index-color2 {  background-color: #00b4dc;  }
.index-color2:hover{  background-color: #06c2ec;  }
.index-color3{  background-color: #3dcbaa;  }
.index-color3:hover{  background-color: #44dcb9;  }
.index-color4{  background-color: #de81b2;  }
.index-color4:hover{  background-color: #f078b3  }
.index-color5{  background-color: #2dafbc;  }
.index-color5:hover{  background-color: #2dc0cf;  }
.index-color6{  background-color: #8E44AD;  }
.index-color6:hover{  background-color: #BF55EC;  }
.index-color7{  background-color: #3369bd;  }
.index-color7:hover{  background-color: #4178ce;  }
.index-color8{  background-color: #525E64;  }
.index-color8:hover{  background-color: #61747d;  }

/**/

/*文档瀑布流*/
.home-categories{padding:0 25px;}

.panel-heading{font-size: 16px;margin-bottom: 0;}
.list-group a{ color: #8d8d8d;}
.list-group a:hover{ color: #ea9622;;}
.home-categories .panel-heading, .home-categories .panel .page {
    text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
}
/*文档案例*/
.guide-poster{
    position: relative; cursor: pointer; max-height: 226px;
}
.guide-poster img{width:100%;}
.guide-poster .icon{
    position: absolute; z-index: 3; margin: auto; top:0; bottom: 0; left: 0; right: 0;display: inline-block; width: 52px; height: 52px;
}
.guide-poster:hover .icon{
}
#guide ul li span{
    color: #4c4c4c; display: inline-block; border-right: 1px solid #4c4c4c;padding-right:18px;
}
#guide ul li a{
    position: absolute;font-size: 14px; display: inline-block; left:93px; right:10px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;
}

/*文档详情页*/
.qm-fixed{ position: relative;}
.qm-fixed .doc-left-menu { position: fixed;position: fixed;top:70px;  bottom:0;overflow: auto; width:315px;}
.qm-doc-container .doc-rigcon{width:100%; float: left;}
.qm-doc-container .main-content{ margin-left:335px;}

.doc-left-menu .search-form {
    margin: 40px 0 20px;
}
.doc-nav {
    margin: 0 0 40px 20px;
    padding: 0;
    list-style: none;
}
.doc-nav .second .category-title{
    font-size: 14px; color: #888; cursor: pointer;
}
.doc-nav .pages {
    margin: 0;
    padding: 0;
    list-style: none;
}
.doc-nav .second .pages{
    display: none; margin-left: 25px;
}
.doc-nav .second .pages.show{
    display: block;
}
.doc-nav li { line-height: 30px; }
.doc-nav .category-title {
    margin: 25px 0 10px 0; font-weight: bold;
    font-size: 16px; color: #4d4d4d;
    text-transform: uppercase;
}
.doc-nav .second .category-title{
    margin: 0; line-height: 30px; font-weight: normal;
}
.doc-nav .second .category-title.active{
    color: #609be3;
}
.doc-nav a {
    display: inline-block;
    color: #808080;
    line-height: 20px;
}
.doc-nav a:hover {
    color: #444;
    text-decoration: none;
}
.doc-nav .active a {
    color: #609be3;
}

.doc-content {
    color: #808080; background-color: #fff;
    margin: 40px 15px;
    padding: 40px 30px;
    border: 1px solid #e9e9e9;
    -webkit-box-shadow: 0 1px 50px rgba(0,0,0,0.1);
    box-shadow: 0 1px 50px rgba(0,0,0,0.1);
}

.doc-content .title {
    margin: 0 0 10px 0; display: inline-block; min-width: 50%;
    border-bottom: 1px solid #dadada; padding-bottom: 10px;
}
.doc-content .intro{
    margin-bottom: 55px;
}
.doc-content h1,
.doc-content h2,
.doc-content h3,
.doc-content h4,
.doc-content h5,
.doc-content h6 ,
.doc-content a{ color: #619be4; }

.doc-content p,
.doc-content ul,
.doc-content ol,
.doc-content pre,
.doc-content blockquote,
.doc-content table,
.doc-content iframe { margin-bottom: 1em; }
.doc-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 4px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.doc-content code {
    background-color: #FFFDDC;
    color: #555;
}
.doc-content pre {
    background: #FFFDDC; position: relative;
    border: 0;
}
.copy-code{
    display: inline-block; font-size: 18px; color: #aaa;
    position: absolute; right: 10px; top: 10px; text-decoration: none;
    outline: none;
}
.copy-code.zeroclipboard-is-hover{
    color: #333; text-decoration: none;
}
.doc-content pre code { color: #657B83; }
.doc-content .hljs { background: none; }
.doc-content .page-meta {
    font-size: 85%;
    color: #999;
    margin-top: 50px;
}
.doc-content .page-meta a {
    color: #999;
    border-bottom: 1px dotted #999;
}
.doc-content .page-meta a:hover {
    color: #428BCA;
    text-decoration: none;
}

.footer .copyright {
    font-size: 85%;
    color: #999;
    margin: 0 20px 40px 0;
}
.doc-content h1, .doc-content .h1{
    font-size: 24px;
    font-weight: bold;
    margin-top: 70px; display: inline-block;
    min-width: 50%; border-bottom: 1px solid #dadada; padding-bottom: 10px;
}
.doc-content h2, .doc-content .h2{
    font-size: 18px; font-weight: bold; margin-top: 55px;
}
.doc-content h3, .doc-content .h3{
    font-size: 18px; font-style: italic;
}
.doc-content pre{
    background: #eee;
}




/*模块store*/
.qm-store{
    width: 1140px;margin-left:auto;margin-right:auto;
}
.qm-store .page-slider{margin-top:0;}
.qm-store .revolution-slider{margin-bottom: 0;}

/*商城 tabs*/
.nav-pills{ border-bottom: 1px solid #ea9622; background-color: #eee;}
.nav-pills li a{ padding:0;width:122px;margin:0; height: 50px; line-height: 50px; text-align: center; font-size: 14px; color: #333;}
.nav-pills li a i.fa{margin-right: 10px; font-size: 14px; display: none;}
.nav-pills>li.active i.fa{display: inline-block;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{ background-color: #ea9622; color: #fff;}
.nav-pills>li>a:focus,.nav-pills>li:hover>a{color: #ea9622;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{padding:0;border: none;}
.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus{padding:0;}


/*商城 content*/
.qmstore-box{
    width:1140px;
}
.margin-top-40{margin-top:40px;}
/*商城 left*/
.qmstore-left{
    width: 803px; float: left;
}
.qmstore-left .row{margin-left:0;margin-right:0;}
.mix-grid{margin-left:-7px;}
.mix-grid .mix{padding-left:0;padding-right:14px;}
.mix-grid .mix .mix-inner{border: 1px solid #dadada; border-radius: 6px !important;    background-color: #fff;}
.mix-grid .mix .mix-inner > img{border-radius: 5px 5px 0 0 !important;}

.mix-grid .mix .mix-details {
    background:none;
    border-radius:0 0 6px 6px !important;
}
.mix-grid .mix .mix-details h4{margin-top:12px; color: #333;}
.mix-tags{ overflow: hidden;}
.mix-tags span{color: #555;display: block;cursor: pointer; height: 40px; line-height: 40px;}
.mix-grid .mix .mix-tags span i{margin-right: 10px; font-size: 20px; line-height: 20px;color: #96B810;}
.mix-tags .mix-hot{margin-left:10px; float: left;}

.mix-tags .mix-price{margin-right: 10px;float: right;color: #FE7C02;}
.mix-tags .mix-price.free{color: #96B810;}
.mix-grid .mix .mix-details .mix-pp{ display: block;text-align: left;line-height: 24px;padding:10px; color: #333;}


.mix-grid .mix:hover .mix-details {
    background: rgba(51, 51, 51, 0.8);
}
.mix-grid .mix:hover .mix-details h4,.mix-grid .mix:hover .mix-details .mix-hot,.mix-grid .mix:hover .mix-details p{ color: #fff;}

/*最新发布*/
.qm-new-list h3{ display: block;height: 34px; line-height: 34px;font-size: 14px;color: #333333;margin-bottom: 0;}
.qm-new-list h3 .new-title1{ float: left; font-weight: bold;margin-right: 10px;}
.list-unstyled li{
    cursor: pointer;padding-left:0;padding-right:14px; opacity: 1; filter: alpha(opacity=100);-webkit-transition: all .25s; -moz-transition: all .25s; -ms-transition: all .25s; -o-transition: all .25s;transition: all .25s;
}

.list-unstyled li:hover .thumbnail{
    opacity: 0.8;filter: alpha(opacity=80);
}
.thumbnail h4{
    display: block;height: 34px;line-height: 34px;font-size: 14px;color: #333333;
}
.thumbnail .new-price{
    color: #FF9446; height: 13px;line-height: 13px;font-size: 14px;display: block;
}
.thumbnail .price-free{
    color: #89AE00; height: 13px;line-height: 13px;font-size: 14px;display: block;
}


/*商城 right*/


.qmstore-right{
    width:297px; margin-left:843px;
}
.qm-list-btn{
    display: block;height: 64px;border-radius: 5px !important; text-align: center;line-height: 64px; /*background-color: #89AE00; */color: #FFFFFF;font-size: 20px;
}
.qm-list-btn i.fa{
    font-size:20px;margin-right:10px;
}
.qm-list-btn:hover{
    color: #fff; text-decoration: none;
}
.qm-list-btn:active,.qm-list-btn:focus{color: #fff;}


/*排行*/
.qm-tab-nav{ overflow: hidden; height: 50px;margin-top:30px; border-radius:5px 5px 0 0 !important;}
.qm-tab-nav li{width:50%;float: left;}
.qm-tab-nav li a{padding:0;height: 50px; line-height: 50px; text-align: center; background-color: #E4E6E5; color: #555;}
.qm-tab-nav li.active a{ background-color: #ea9622;color: #fff;}
.qm-tab-nav li:hover a{background-color: #ea9622;color: #fff;}

.tabbable-custom.nav-justified > .tab-content{margin-top:-1px;border-radius: 0 0 5px 5px !important;}
.tabbable-custom > .tab-content{padding:0;}
.tabbable-custom > .tab-content ul{padding-left:0;border-left:0;}
/*排行  store1*/
.qmstore-list-free,.qmstore-list-pay {
    width: 50%;
    height: 40px;
    float: left;
    background-color: #E4E6E5;
    color: #7E807F;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.qmstore-list-free:hover,.qmstore-list-pay:hover,.qmstore-list-free.active,.qmstore-list-pay.active{
    background-color: #FF9348;
    color: #FFFFFF;
}
.qmstore-list-free.active,.qmstore-list-pay.active{
    cursor: default;
}
.qmstore-list-free {
    border-top-left-radius: 3px;
}
.qmstore-list-pay {
    border-top-right-radius: 3px;
}
.qmstore-free-list,.qmstore-pay-list {
    display: none;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}
.qmstore-pay-list.active,.qmstore-free-list.active{
    display: block;
}
.qmstore-list-li {
    width: 100%;
    height: 75px;
    border-top: 1px solid #E6E6E6;
    padding: 11px 19px;
    padding-right: 0;
    display: inline-block;
    background-color: #FFFFFF;
}
.qmstore-list-li:first-child{
    border-top: none;
}
.qmstore-li-inner {

}
.img-box .img-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.qmstore-list-li .qmstore-li-inner .img-box{
    width: 73px;
    height: 52px;
    position: relative;
    float: left;
    border-radius: 4px;
    overflow: hidden;
}
.qmstore-li-inner .img{
    width: 73px;
    height: 52px;
    border-radius: 4px;
}
.qmstore-li-inner .img-shadow{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
}
.qmstore-list-li:hover .img-shadow{
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.qmstore-list-li span{
    font-size: 12px;
    color: #343434;
    text-indent: 14px;
    display: block;
}
.qmstore-list-li .qm-module-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    margin-bottom: 12px;
    cursor: pointer;
}
.qmstore-list-li .price{
    color: #FE9446;
    float: left;
}
.qmstore-list-li .price.free{
    color: #89AE00;
}
.qmstore-list-li .module-hot{
    float: none;
    margin-left: 200px;
}
.qmstore-list-li .module-hot i{ color:#89AE00; }
.qmstore-list-li .icon-hot{
    display: inline-block;
}
.qmstore-list-li .module-hot-count{
    display: inline-block;
    color: #A5A5A5;
    text-indent: 0;
}
/*top store2*/

/*.mod-select   store2*/
.mod-select .qmstore-left{width:880px;}
.mod-select .qmstore-right{ width: 232px;margin-left: 910px;}

.mod-select .qmstore-list-box {
    height: 485px;
    margin-top: 1px;
    display: block;
    border: #E5E5E5 solid 1px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.mod-select .qmstore-list-type {
    height: 36px;
    display: inline-block;
    width: 100%;
    margin-top: 0;
}
.mod-select .qmstore-select-span {
    color: #FF9447;
    width: 182px;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    display: block;
    text-align: center;
}
.mod-select .qmstore-select-list {
    height: 440px;
    overflow: hidden;
}
.mod-select .qmstore-select-list li{
    height: 38px;
    border-top: 1px solid #E5E5E5;
    width: 182px;
    margin: 0 auto;
}
.mod-select .qmstore-select-list li .select-top{
    display: none;
    position: relative;
}
/*.mod-select .qmstore-select-list li:hover{height: 97px;}*/
/*.mod-select .qmstore-select-list li:hover .select-top{ display: block;}*/
.mod-select .qmstore-select-list li:first-child{
    height: 97px;
}
.mod-select .qmstore-select-list li:first-child .select-top{
    display: block;
}

.mod-select .qmstore-select-list .select-top img{
    display: block;
    width: 72px;
    height: 52px;
    border-radius: 4px;
    margin: 8px 0 0 3px;
    cursor: pointer;
}
.mod-select .qmstore-select-list .img-shadow{
    position: absolute;
    width: 72px;
    height: 52px;
    left: 3px;
    top: 0;
    background-color: #FFFFFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
}
.mod-select .qmstore-select-list li:hover .img-shadow{
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.mod-select .qmstore-select-list .module-name {
    display: inline-block;
    width: 138px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.mod-select .qmstore-select-list .module-name:hover{
    color: #FF9447;
}
.mod-select .qmstore-select-list .price{
    display: inline-block;
    width: 42px;
    color: #FF9447;
}
.mod-select .qmstore-select-list .price.free{
    color: #8FB300;
}
.mod-select .qmstore-select-list span{
    height: 38px;
    line-height: 38px;
    font-size: 12px;
}
.mod-select .qmstore-select-list li:first-child span{
    height: 33px;
    line-height: 33px;
}
.modal-backdrop {
    background-color: #FFFFFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
/*store top*/
.qmstore-top{;}
.qmstore-top-btn{display: inline-block;line-height: 34px;}
.qmstore-form{ float: right;width:442px;}
.qmstore-sort{width:188px; float: left;    margin-bottom: 5px;}
.qmstore-sort label{ float: left; line-height: 34px;}
.qmstore-sort select{ float: left;}
.qmstore-sort  .bootstrap-select.bs-select{width:auto;padding:0 10px; background: none;}
.qmstore-check{margin-top:7px;margin-bottom: 0; float: right;margin-right: 25px;}



/**/

@media only screen and (max-width: 767px){
    #home-search {
        margin-top:80px;
        margin-bottom: 10px !important;
    }
    #overview{margin-left:0;margin-right:0;}
    #overview .first,#overview .last,#overview .outer{width:100%;}
    #overview .outer .wrap1,#overview .outer .wrap2{width:100%; float: left;}
    #overview a{margin-right:0;width:100%;padding-left:40%; float: left; height:110px; line-height: 110px;}
    .index-app,.index-iom,.index-drf { background-position: 15% center;}
    .index-start .title{padding-top:10px;}

    .home-categories{padding:0;}

}

@media(max-width:1200px )and (min-width: 992px){
    .index-start{padding-left:40%;}
    .index-api{padding-left:50%;}
}

@media(max-width: 992px)and (min-width: 768px){
    #overview .outer{
        float: right;;
        width:100%;
    }
    #overview .first,#overview .last{
        width:50%;
        float: left;
    }
    .index-start,.index-api{height: 110px;}
    .index-start{padding-left:35%;}
    .index-api{padding-left:42%; line-height: 110px;}
    .index-app { padding-left: 18%;background-position: 5.5% center;}
    .index-iom { padding-left: 37%;background-position: 12% center;}
    .index-app,.index-drf {margin-right:0;}
    .index-start .title{padding-top:10px;}
}

/*模块详情模态框*/

.qmstore-modal .modal-content{
    box-shadow: 0 5px 60px rgba(0,0,0,0.3);
    border-radius: 0;
}
.qmstore-modal .modal-header{
    height: 142px;
    padding-top: 27px;
    padding-left: 27px;
}
.qmstore-modal .modal-header .close{
    outline: none;
}
.qmstore-modal .img-box{
    width: 125px;
    height: 89px;
    float: left;
}
.qmstore-modal .img-box .img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.qmstore-modal .mod_detail_des{
    margin-left: 145px;
}
.qmstore-modal .mod_detail_name{
    display: block;
    font-size: 30px;
    color: #343434;
    height: 40px;
    line-height: 40px;
}
.mod_detail_h4{ color: #a1a1a1;margin-top:5px;margin-bottom: 5px;}
.qmstore-modal .mod_scan{margin-right:20px;}
.mod_detail_h4 i.fa{color: #f4ae51;}

.qmstore-modal .module-hot{
    display: inline-block;
    margin-bottom: 0px;
    float: none;
    color: #989898;
}
.qmstore-modal .module-hot i{ color:#50cd6d;}

.qmstore-modal .platform-group{
    display: inline-block;
    color: #989898;
    float: none;
    width: auto;
    height: auto;
    border-right: none;
}
.qmstore-modal .fa-android,.qmstore-modal .fa-apple{
    font-size: 14px;
    margin-right: 7px;
    color: #d9d9d9;
}
.qmstore-modal .fa-android.active,.qmstore-modal .fa-apple.active{
    color: #50cd6d;
}
.qmstore-modal .split{
    border-left: 1px solid #CFCFCF;
    margin: 0 10px;
}
.qmstore-modal .price{
    color: #FE7C02;
    height: auto;
    line-height: normal;
    font-size: 12px;
    float: none;
    padding: 2px 5px;
}
.qmstore-modal .price.free{
    background-color: #50cd6d;
    border-radius: 1px;
    color: #FFFFFF;
}
.qmstore-modal .go_tb_url{
    display: inline-block;
    padding:0 15px;
    height: 27px;
    color: #FFFFFF;
    background-color: #FF9446;
    text-align: center;
    line-height: 27px;
    border-radius: 3px !important;
    margin-left: 10px;
}
.qmstore-modal .modal-body{
    padding: 0;
}
.qmstore-modal .mod_detail_box_left{
    float: left;
    width: 457px;
    height: 414px;
    padding: 36px 0;
    background-color: #F5F5F5;
}
.qmstore-modal .mod_pub_prev_box {
    width: 457px;
    height: 342px;
    overflow: hidden;
    position: relative;
}

.qmstore-modal .mod_detail_box_right{
    margin-left: 457px;
    width: 241px;
    height: 414px;
    background-color: #EBEBEB;
    padding: 36px 24px;
}
.qmstore-modal .mod_detail_title{
    color: #888888;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.qmstore-modal .mod_detail_details{
    font-size: 12px;
    color: #878787;
    line-height: 17px;
    word-break: break-all;
    word-wrap: break-word;
}
.qmstore-modal .mod_detail_box_right_top{
    border-bottom: 1px dashed #9B9B9B;
    height: 172px;
    position: relative;
}
.qmstore-modal .go_mod_doc{
    position: absolute;
    left: 0;
    /*bottom: 20px;*/
    color: #428bca;
}
.qmstore-modal .fa-file-text-alt{
    font-size: 16px;
}
.qmstore-modal .mod_detail_box_right_bottom{
    padding-top: 12px;
}
.qmstore-modal .mod_detail_row{
    min-height: 26px;
}
.qmstore-modal .mod_detail_row span{
    color: #8D8D8D;
    line-height: 26px;
}
.qmstore-modal .mod_detail_row .content{
    color: #878787;
}
.qmstore-modal .mod_detail_row .author.content{
    word-wrap: break-word;
    word-break: break-all;
}
.modal-download{ display: inline-block;width:80px; height: 30px; line-height: 30px;text-align: center; background: #fea022; border: none;border-radius:3px !important; outline: none; color: #fff;}
.modal-download:hover,.modal-download:active{text-decoration: underline;color: #fff;}


/*弹出框滑动unslider*/
.modal-slider{overflow: hidden;height: 320px;width:460px; text-align: center;}
.unslider{position: relative; overflow: hidden;}
.unslider-wrap.unslider-carousel>li img{width:180px; height: 320px;}
.unslider-arrow{
    width:30px;height: 30px;text-indent: -9999em;top:50%;margin-top:-30px;z-index:9990999;overflow: hidden;
    background: url("../img/arrow.png") 0 0 no-repeat;opacity: 0.6;
}
.unslider-arrow.next{
    background: url("../img/arrow.png") -30px 0 no-repeat;
}
.unslider-arrow:hover{opacity: 1;}
.unslider-nav ol{margin-top:10px;}
.unslider-nav ol li {
    background: #dcdcdc;
    border: 2px solid #50cd6d;
    border-radius: 5px !important;
}
.unslider-nav ol li.unslider-active {
    background: #50cd6d;
}
/*模块详情模态框 end*/









