dl,ol,ul{
    padding: 0;
    margin: 0;
}
h5{
    padding: 0;
    margin: 0;
}

/*main*/
.main{
    min-width: 1024px;
    display: block;
    min-height: 1px;
}
/*main-left,main-right*/
.main .main-right{
    width: 266px;
    float: right;
    margin-top: 30px;
    /*background-color: #FFF;*/
    height: 100%;
    position: relative;
}
.main .main-left{
    -o-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    float: left;
    height: 100%;
    position: relative;
    left: 0%;
}
.main-left .main-applist-out,.main .main-right,.main-left .main-messagelist-out{
    margin-right: 28px;
}
/*main-applist-out*/
.main-left .main-applist-out{
    width: 332px;
    display: inline-block;
    /*min-height: 1260px;*/
    background-color: #FFF;
}
.main-applist-out .icon-plus{
    font-size: 18px;
    vertical-align: text-top;
    margin-right: 12px;
}
.main-applist-out dl{
    margin-bottom: 0;
}
.main-left .main-applist-out dd+dd+dd+dd+dd+dd{
    display: none;
}
.main-left .main-applist-out.all dd+dd+dd+dd+dd+dd{
    display: block;
}
.main-left .main-applist-out.all .loading-more-out{
    display: none;
}
.main-applist-out dt,.main-applist-out dd{
    width: 332px;
    height: 98px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    background-color: #FFF;
}
.main-applist-out dd{
    cursor: pointer;
}
.main-applist-out dd:active,.main-applist-out dd:hover{
    background-color: #F3F6F5;
}
.main-applist-out dt .create-app-btn{
    color: #FFFFFF;
    background-color: #eb8d0f;
    width: 272px;
    height: 52px;
    line-height: 38px;
    border-radius: 6px !important;
    margin-top: 22px;
    margin-left: 30px;
    font-size: 16px;
}
.main-applist-out dt .btn:hover,.main-applist-out dt .btn:focus{
    background-color: #f4a030;
}

.main-applist-out dt .create-app-btn i{
    margin-right: 10px;font-size: 18px;  vertical-align: middle;
}
.main-applist-out dd{
    display: block;
    border-top: none;
}
.main-applist-out .dd-left,.main-applist-out .dd-right{
    float: left;
    margin-top: 22px;
    position: relative;
}
.main-applist-out .dd-left img{
    width: 48px;
    height: 48px;
    border-radius: 13px;
    margin-left: 22px;
}
.main-left .loading-more-out{
    text-align: center;
    width: 100%;
    height: 52px;
    background-color: #FFF;
    border-bottom: 1px solid #E4E4E4;
}
.main-left .loading-more{
    color: #A1A1A1;
    display: inline-block;
    margin-top: 18px;
}
.main-applist-out .dd-right{
    width: 242px;
}
.main-applist-out .dd-right h5,.main-applist-out .dd-right span{
    font-size: 12px; margin: 7px 18px;
}
.main-applist-out .dd-right h5{color: #333;}
.main-applist-out .dd-right span{
    margin-left: 18px;
    margin-right: -10px;
    color: #9A9A9A;
    display: inline-block;
}
.main-applist-out .dd-right .no-accredit{
    color:#ea9622;
}
.main-applist-out .dd-right .tpl-dele{
    width:20px;
    height: 20px;
    position: absolute;
    right:0;
    top:20px;
    margin:0;
    /*background:url(../img/icon_close.png) no-repeat 0px 0px;*/
}
.main-applist-out .dd-right .tpl-accredit{
    color:#fff;
    display: none;

}
.main-applist-out dd:hover .tpl-dele{
    background-position: 0px -20px;
}
.main-applist-out dd:hover .tpl-accredit{
    display: inline-block;
}
.main-applist-out dd:hover .no-accredit{
    display: none;
}



/*---------------------------------*/
/*main right*/
.main .main-right .update-out{

}
.main .main-right .update-out dl{
    margin-bottom: 0;
}
.main .main-right .update-out dt{
    height: 68px;
    display: inline-block;
}
.main .main-right .update-out h5{
    margin-left: 20px;
    margin-top: 26px;
    color: #000;
}
.main .main-right .update-out dd{
    border-top: 1px solid #E7E7E7;
    padding: 16px 30px;
}
.main .main-right .update-out dd a,.main .main-right .update-out dd span{
    line-height: 20px;
}
.main-right .update-out dd a {
    color: #888888;
}
.main-right .update-out dd span {
    color: #ACB2A6;
    margin-left: 4px;
}
.main .main-right .update-out .update-loading-out{
    height: 42px;
    text-align: center;
}
.main .main-right .update-out dd a:hover,.main .main-right .update-loading-more{
    color: #ea9622;
}
.main-right .update-loading-more{
    margin-top: 14px;
    display: inline-block;
}
.main-right .console-ri-top{
    display:block;width:100%;height: 64px; line-height: 64px; font-size: 16px; color: #fff; background-color: #50ce6d; text-align: center;margin-bottom: 5px;
}
.main-right .ide-out,.main-right .help-out{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #E4E4E4;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-right .ide-icon{
}
.main-right-icon{
    width: 86px;
    height: 86px;
    display: block;
    margin:0 auto;
}
.main-right .ide-out span{
    display: block;
    text-align: center;
    color: #808080;
}
.main-right-appname{
    margin-top:10px;
    font-size: 14px;
    line-height: 30px;
}
.main-right-contents{
    font-size: 12px;
    line-height: 18px;
}
.main-right .ide-out .main-right-downloadbtn{
    margin-top: 14px;
    width: 100px;
    height: 34px;
    border: 2px solid #2fd857;
    font-size: 14px;
    line-height: 34px;
    padding: 0;
    color: #787878;
    border-radius:10px !important;

}
.main-right .ide-out a,.main-right .help-out a{
    color: #ea9622;
    /* margin-bottom: 40px; */
    display: inline-block;
}

.main-right-footer,.main-right-fakefooter{
    width: 100%;
    height: 172px;
    background-color: #EBEFEE;
}
.main-right-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
.main-right-footer a{
    margin: 90px 8px 20px 8px;
    color: #979D92;
    display: inline-block;
}
.main-right-footer span{
    display: block;
    color: #979D92;
    margin-bottom: 40px;
}

/*main-center*/
/*.main-left .main-messagelist-out*/
.main-center{
    margin-left:360px;
    margin-right: 322px;
    position: relative;
    left: 0%;
    /*max-height: 800px;*/
    /*overflow: auto;*/
}
.main-messagelist-out{
    display: inline-block;
    background-color: #FFF;
    vertical-align: top;
    width: 100%;
    min-width: 342px;
    margin-top: 30px;
}
.main-messagelist-out dl.bg-white{background-color: #fff;}
.main-messagelist-out dl.bg-hui{background-color: #f5f5f5;}
.main-messagelist-out dt{
    height: 68px;
    display: inline-block;
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
    /*background-color: inherit;*/
}
.main-messagelist-out dd{
    /*background-color: #fff;*/
    border-bottom: 1px solid #E7E7E7;
}

/*.main-messagelist-out dd.accordion-toggle{ background-color: #fff;}*/
/*.main-messagelist-out dd.accordion-toggle.collapsed{ background: }*/

.main-messagelist-out h5{
    margin-left: 20px;
    margin-top: 26px;
    color: #000;
    font-size: 16px;
}
.main-messagelist-out .message-left{
    width: 46px;
    float: left;
    margin: 0 16px 0 26px;
    text-align: center;
}
.main-messagelist-out .message-left img{
    width: 46px;
    height: 46px;
    border-radius: 23px;
    display: block;
}
.main-messagelist-out .message-left i{
    display: block;
    margin: 6px auto 2px auto;
    color: #BFBFBF;
}
.main-messagelist-out .message-left span{
    display: block;
    color: #5D7A42;
}
.main-messagelist-out .message-user{
    color: #808080;
    font-size: 12px;
}
.main-messagelist-out .message-motion{
    color: #979D92;
    margin-left: 8px;
}
.main-messagelist-out .message-time{
    color: #B3B7AF;
    float: right;
    margin-right: 26px;
}
.main-messagelist-out .message-title{
    color: #ea9622;
    font-size: 14px;
    margin: 16px  0;
    display: inline-block;
    width: 85%;
}
.main-messagelist-out p{
    color: #3A3C39;
    line-height: 20px;
    margin-right: 38px;
}
.main-messagelist-out .message-reply{
    color: #A5AAA1;
    margin-top: 18px;
    display: inline-block;
}
.main-messagelist-out .message-left,.main-messagelist-out .message-right{
    /*margin: 26px 0; */
}
.main-messagelist-out .message-right{
    margin: 26px 0 16px 87px;
}
.message-loading-out{
    height: 60px;
    text-align: center;
}
.message-loading-more{
    color: #979D92;
    margin-top: 22px;
    display: inline-block;
}

/*main end*/
/*.icon-eye-open*/
/* guide */
.guide-dialog .ui-dialog-titlebar {
    display: none;
}

#gift{
    background-color: #4f83c3;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    padding: 20px;
}
#gift h1{
    font-size: 14px; font-weight: bold;
}
#inviteQrCode{
    text-align: center;
    background-color: #fff; width: 100px; height: 100px; margin: 10px auto;
}
.qrcode span{
    display: inline-block;
}
.qrcode span img{
    width: 16px; height: 16px; margin-right: 6px; vertical-align: text-bottom;
}
#gift img{
    display: inline-block;
}
#gift .yaoqing{
    text-align: center;
    padding-top: 10px;
}
#gift .yaoqing span{
    text-indent: 0;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    width: 100px;
    color: #f6e77f;
}
#gift .yaoqing span.isUse{
    color: #ccc;
}


.sysnotice {
    font-size: 14px;
}
.sysnotice dd{
    color: #838383;
    display: block;
    padding-left:25px;
    height: 62px;
    line-height: 62px;
    vertical-align: top;
}
.sysnotice dd a{color: inherit;}

/*problem*/
.problem .category {
    border: 1px solid #8eb200;
    border-radius: 4px;
    color: #8eb200;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    margin: 19px 20px;
    overflow: hidden;
    padding: 3px 7px;
    vertical-align: middle;
    width: 54px;
    text-align: center;
}
.problem span.title {
    color: #838383;
    display: inline-block;
    height: 62px;
    line-height: 62px;
    vertical-align: top;
}
.problem .arrow{
    float: right;
    height: 18px;
    margin: 20px;
    width: 19px;
}
.problem .arrow:hover,.problem .arrow:focus,.problem .arrow:active{text-decoration: none;}
.problem .arrow i.fa{
    font-size: 30px;
    color: #838383;
}
.problem .arrow i.fa-angle-up{display: block;}
.problem .arrow i.fa-angle-down{display: none;}
.problem .arrow.collapsed i.fa-angle-up{ display: none;}
.problem .arrow.collapsed i.fa-angle-down{display: block;}


.problem .answer{
    color: #838383;
    font-size: 12px;
    line-height: 200%;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
    margin-top:10px;
}
.problem .answer p{
    color: #838383;
    line-height: 200%;
}
.panel-group .panel+.panel{margin-top:0;}
.problem .panel-heading{padding:0; background-color: #f5f5f5;}

.modalx {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
    display: table;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    vertical-align: middle;
    visibility: hidden;
    width: 100%;
    z-index: 9999;
}
.modalx > a.close {
    /*background-image: url("../img/close.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 45px;
    opacity: 0.3;
    position: fixed;
    right: 27px;
    top: 27px;
    transition: all 0.5s cubic-bezier(0.27, 1.64, 0.32, 0.95) 0s;
    width: 45px;
    z-index: 10000;
}
.modalx > a.close:hover {
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    opacity: 1;
    transform: rotate(90deg);
}
.modalx > .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#k-video{
    margin: auto;
}
#xcontainer{
    background-color:white;
    font-size: 16px;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 1092px;
}
#xcontainer .browsers {
    margin: 20px auto;
}
#xcontainer .suggestion table{
    margin: auto;
}
.top-right-bar {
    color: #ea9622;
    float: right;
    margin-right: 20px;
    margin-top: -16px;
    font-size: 14px;
    font-weight: normal;
}
.top-right-bar:hover,.top-right-bar:active{
    color: #30d857;
}
#console-close{
    /*background-image: url("/img/close.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 45px;
    opacity: 0.3;
    position: absolute;
    right: 27px;
    top: 27px;
    transition: all 0.5s cubic-bezier(0.27, 1.64, 0.32, 0.95) 0s;
    width: 45px;
    z-index: 10000;
    background-color: #797979;
}
#console-close:hover{
    border-radius: 50%;
    opacity: 1;
    transform: rotate(90deg);
}
.ui-dialog.guide-dialog{
    position: fixed;
}

.create-dialog .ui-dialog-titlebar-close{
    /*background: #FFF url(/css/jqui/images/ui-icons_888888_256x240.png) -95px -126px !important;*/
}
.create-dialog .ui-dialog-titlebar-close.ui-state-hover,.create-dialog .ui-dialog-titlebar-close:hover{
    /*background: #FFF url(/css/jqui/images/ui-icons_454545_256x240.png) -95px -126px !important;*/
}
/*account*/
.main-account{
    /* border: 1px solid #E7E7E7;*/border-top:0;margin:0;
}
.main-account-user{
    display:inline-block; float: left;/*padding:45px 0; */text-align: center;width:260px;position: relative;margin-top: 42px;
}
.main-acc-user{
    border-radius: 50% !important;padding:0 15px; float: left;
}
.main-account-user .acc-user-con{
    display: inline-block;text-align: left;
}
.main-account-user h4{
    display: block;font-size: 18px; color: #2d2d2d;
}
.acc-tag span{display: inline-block;padding:2px 4px; background-color: #bbc3c6;color: #fff;margin-right: 10px;}
.acc-tag span.active{ background-color: #eb8d0f;}
.acc-pp{display: block; line-height: 24px;margin-top:10px;}

.main-account-list{
    margin-left:260px; position: relative;border-left: 1px solid #E7E7E7;
}
.main-account-list ul{overflow: hidden;margin-top:27px; display: block; text-align: left;margin-bottom: 20px;}
.main-account-list ul li{  display:inline-block;min-width:150px;margin-left: 1%;}
.main-account-list ul li img{float: left;padding-right: 10px;}
.main-account-list ul li em{display: block; font-size: 40px; color: #e60607;margin-top:20px; font-style: normal;}
.acc-creat{ display: block; float: right;margin-right: 20px; font-size: 14px; margin-bottom: 20px;}

@media (min-width:1520px) {
    .main-account-list ul li{  display:inline-block;min-width:150px;margin-left: 6%;}
}

/*2-25 add*/
.main-set .main-center{
    margin-right: 28px;
    display: block;

}
.main-center .panel-profile{
    width: 100%;
    display: inline-block;
}
.main-center .panel-body-profile{
    padding: 0;
}
.main-center .panel-body-profile label{
    margin: 0;padding: 0;
}
.main-center .panel-body-profile .row{
    margin: 0;
}
.main-center .form-control{
    /*width: 264px;*/
    width: 230px;
}
.main-center .hide-file{
    opacity: 0;
    height: 0px;
    width: 10px;
}
.main-center .label-a-cert{
    cursor: pointer;
    color: #4D7CB6 !important;
    bottom: 18px;
    margin: 0 auto;
}
.main-center .label-a-cert:hover{
    text-decoration: underline;
}
.main-center .label-fifle{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 48px;
    height: 32px;
    overflow: hidden;
    bottom: auto;
    right: auto;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}


.main-center .profile-basic-form div.left{
    width: 180px;
    height: 210px;
}
.main-center .profile-basic-form div.right-top{
    width: 30px;
    height: 60px;
}
.main-center .profile-basic-form div.right-bottom{
    width: 65px;
    height: 95px;
}
.main-center .profile-basic-form .img-container{
    background-color: #E6E6E6;
    border:1px #D6D6D6 solid;
}

.main-center .profile-basic-form .div-left{
    margin-top: 10px;
    margin-left: -10px;
    width: 41%\9;
}
.main-center .profile-basic-form .div-left input[type="text"],.main-center .profile-basic-form .div-left .btn{
    margin-left:12px;
}
.main-center .profile-basic-form .div-left .row{
    display: block;
    margin-top: 15px;
}
.main-center .profile-basic-form .div-left .left-row-bottom{
    margin-bottom: 28px;
    margin-top: 32px;
}
.main-center .profile-basic-form .div-left label,.profile-basic-form .div-right label{
    height: 32px;
    line-height: 32px;
    color: #8A8A8A;
}
.main-center .my_userId{
    position: relative;
    top: 36px;
    text-indent:26px;
}
.main-center .form-profile-btn{
    width: 76px;
    height: 28px;
    line-height: 0;
    border-radius:6px !important;
}
.main-center .profile-basic-form .div-right{
    margin-top: 110px;
    margin-left: -15px;
    width: 58%\9;
}
.main-center #upload-photo-profile{
    width: 250px !important;
    height: 250px !important;
}
.main-center .profile-basic-form .div-left .required-label{
    margin-top: 0;
}
.main-center .profile-basic-form .div-left .required-label label{
    text-indent: 27px;
    font-size: 12px;
}


.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.main-center .profile-save-form .div-right .row{
    display: block;
}
.main-center .profile-save-form .div-left{
    margin-top: 10px;
    margin-left: -10px;
}
.main-center .profile-save-form .div-left input[type="text"],.profile-save-form .div-left .btn{
    margin-left:12px;
}
.main-center .profile-save-form .div-left .row{
    display: block;
    margin-top: 15px;
}
.main-center .profile-save-form .div-left .left-row-bottom{
    margin-bottom: 28px;
}
.main-center .profile-save-form .div-left label{
    height: 32px;
    line-height: 32px;
    color: #8A8A8A;
}
.main-center .img-inner-container{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    overflow:hidden;
    background-color: transparent;
}
.main-center .img-inner-container.active{
    background-color: white;
}
.main-center .profile-basic-form .img-inner-container img{
    height: 100%;
    width: 100%;
    border:none;
    display: none;
}
.main-center .profile-basic-form .img-inner-container.active img{
    display: block;
}
.main-center #upload-label-profile{
    position: relative;
    top: -6px;
}
.main-center #upload-label-profile .webuploader-pick {
    width: 100%;
    height: 100%;
    background: none;
    color: #4D7CB6;
    display: block;
    padding: 0;
    margin-top: 20px;
}
.main-center #cover_profile{
    font-size: 70px;
    text-align: center;
    color: white;
    background-color: black;
    position: absolute;
    z-index: 9999;
    width: 250px;
    height: 250px;
    opacity: .3;
    filter: alpha(opacity=30);
    line-height: 250px;
    display: none;
}
.main-center #cover_profile.active{
    display: block;
}
.main-center label.error{
    color: #f21e1e !important;
    text-indent: 11px;
}

.main-set .main-center {
    margin-right: 28px;
    display: block;
    min-width: 956px;

}
.main-set .main-left .main-applist-out{
    min-height: 1px;
}
.main-set .main-right{
    display: none !important;
}
.box-for-a-btn{
    display: inline-block;
    position: relative;
}
.modify_mobile{
    position: absolute;
    right: 18px;
    top: 8px;
    cursor: pointer;
    color: #4f83c3;
}
.modify_mobile:hover{
    text-decoration: underline;
}

.upload-img-size1{
    position:relative;left:38px;
}
.upload-img-size1 .img-container{
    width:180px; height: 180px;
}
.upload-img-size2{
    position: relative;left:60px;top:35px;
}
.upload-img-size2 .img-container{
    width:30px; height: 30px;
}
.upload-img-size3{
    position: relative;left: 30px;top: 115px;
}
.upload-img-size3 .img-container{
    width:65px;height:65px;
}










