
a.main-btn,button.main-btn{background:#eb8d0f; color:#fff;}
a.main-btn:hover,a.main-btn:active,a.main-btn:focus,button.main-btn:hover,button.main-btn:active,button.main-btn:focus{background:#da8411; color:#fff;}

.tem-box{width:100%; background-color: #fff;padding-bottom: 30px;}
.tem-title{border-bottom: 1px solid #ddd; height: 65px;background-color: #fff;}
.tem-title .tem-title-span{ color: #0a0a0a;padding:0 20px; line-height: 65px; font-size: 16px;}

.tem-box .row{margin-left: 0;margin-right: 0;}

.tem-edit{margin-top:50px;}
.tem-edit .row{margin:15px auto;}
.tem-edit label{line-height: 34px; text-align: right;}
/*�ϴ�ͼƬ*/
.tem-top-btns{margin-top:12px;padding-right:20px;}
.tem-top-btns a{width:90px;height:42px; line-height:30px;}
a.yellow.btn{ background:#eb8d0f; color: #fff;}
a.yellow.btn:hover,a.yellow.btn:active,a.yellow.btn:focus{ background:#da8411; color: #fff;}

.tem-upload-picbox{ display: block;}
.tem-upload-picbox li{background: url("../img/phone-bg1.png") no-repeat;width:235px; height: 479px; float: left;margin:30px 50px; position: relative; text-align: center; padding:58px 15px 50px 15px;}

.tem-upload-picbox li a.add-img{display: block;margin-top:160px; color: #ea9622; text-align: center; cursor:pointer;}
.add-img-icon{display:block;margin:10px auto;width:42px; height:42px; background-color:#ffb85a;color:#fff; border-radius:50%;}
.add-img i.fa{ font-size:20px; line-height:42px;}
.add-img:hover,.add-img:active .add-img:focus{text-decoration: none;color:#ea9622; }

.tem-img-box{display:none; position:absolute;top:58px;left:15px;bottom:52px;right:15px; cursor:pointer;padding:10px;
background-color:#000000;/* IE6�Ͳ���IE7�ں˵������(��QQ�����)����ɫ������ */
  background-color:rgba(0,0,0,0.2); /* IE6�Ͳ���IE7�ں˵������(��QQ�����)�������������Ϊ͸�� */}
.tem-upload-picbox li:hover .tem-img-box{ display:block;}

.box-check{ display:none; background-color:#eb8d0f;border:2px solid #fff;border-radius:50%;}
.box-check i.fa{font-size:14px; color:#fff;}
.tem-upload-picbox li.active .tem-img-box,.tem-upload-picbox li.active .box-check{display:block;}


.tem-foot-btn a{min-width:170px;}

.tem-box.bghui{background:#e9ecf3;}

/*�������*/
.tem-property{}
.tem-property h5{color:#000;}
.tem-pro-ul{display:block}
.tem-pro-ul li{ float:left;overflow:hidden; border-radius:5px;margin-right:35px;margin-bottom:35px;width:480px;}
.tem-pro-ul li .tem-li-left{ float:left; border-radius:5px 0 0 5px; background-color:#0e99eb;width:46%;height:146px; line-height:146px; text-align:center;}
.tem-pro-ul li .tem-li-rig{ float:right;width:54%; height:146px; background-color:#fff;padding-top:10px;}

.add-pro{display:block;margin:40px auto; border-radius:50%; background-color:#ffb85a; color:#fff;width:64px; height:64px; text-align:center;}
.add-pro i.fa{font-size:30px; color:#fff; line-height:64px;}
.add-pro:hover,.add-pro:active,.add-pro:focus{color:#fff;text-decoration:none;}

.tem-li-rig p{display:block; font-size:14px; color:#9d9d9d; line-height:22px;padding-left:22px;} 

.tem-li-rig-edit{display:block; border-top:1px solid #e7e7e7;color: #ea9622;}

.tem-modal .row{margin:20px auto;}

.tem-label{line-height:34px; text-align:right;width:100%;}

.tem-pro-list{display:block; overflow:hidden;}
.tem-pro-list li{width:44px; text-align:center; float:left;margin:20px 60px;}
.tem-pro-li{width:44px; height:44px; border:1px solid #d9d9d9; position:relative;margin-bottom:10px;}
.tem-pro-li i.fa{font-size:20px; line-height:44px;}
.tem-pro-check{display:none;;width:18px; height:18px; position:absolute;top:0;right:0; background:url(../img/tem-icon.png) 0 0;}
.tem-pro-list li.active .tem-pro-li{ border:1px solid #f2b564;}
.tem-pro-list li.active .tem-pro-check{ display:block;}
.tem-pro-list li.active,.tem-pro-list li.active .tem-pro-li i.fa{ color:#f2b564;}


@media (min-width: 1279px) and (max-width: 1400px){
	.tem-pro-ul{margin-right: -35px;position: relative;}
	.tem-pro-ul li{ width:420px; }
	}


/*动态生成*/
.line{border-top:1px solid #e7e7e7;}

.tem-main{padding-top:30px;}
.tem-main .line{padding:30px 0;}
.tem-main .row{margin:20px auto;}



.tem-pack{border: 1px solid #d5d5d5;width:290px; height: 158px;padding:40px 20px; border-radius:10px !important; cursor: pointer; float: left;margin-right: 30px;}

.tem-pack .tem-ios,.tem-pack .tem-android{
    width:100%;
}
.finish-icon{ display:block;float: left; width:110px;height: 76px; background: url("../img/tem-icon.png") -50px 0;}
.tem-pack span{ display: block; text-align: center; font-size: 14px;}
.tem-pack-s1{ line-height: 24px;}
.tem-pack-s2{margin:25px auto;}
.tem-pack-s2 i.fa{font-size: 32px; margin-right: 10px;vertical-align: sub;}

.tem-pack.active{border-color: #f2b564;}
.tem-pack .hide,.tem-pack.active .show{ display: none !important;}
.tem-pack .show,.tem-pack.active .hide{ display: block !important;}

button.tem-pack-btn {
    color: #FFF;width: 234px;height: 80px;text-align: center;background-color: #eb8d0f;padding:0; font-size: 20px;
}
button.tem-pack-btn:hover,button.tem-pack-btn:active,button.tem-pack-btn:focus{ background-color: #ffb045; color: #fff;}
button.tem-pack-btn i{font-size: 48px; color: #fff; line-height: 80px; vertical-align: middle;margin-right: 5px;}


.tem-pack-panel .panel-heading{ overflow: hidden; height:60px;}
.tem-pack-panel .panel-heading .panel-title{ display: block;float: left; line-height: 40px;}
.tem-pack-panel .panel-heading .arrow{
    float: right;height: 18px; margin: 15px;width: 19px;
}
.tem-pack-panel .arrow:hover,.tem-pack-panel .arrow:focus,.tem-pack-panel .arrow:active{text-decoration: none;}
.tem-pack-panel .arrow i.fa{
    font-size: 30px;
    color: #838383;
}
.tem-pack-panel .arrow i.fa-angle-up{display: block;}
.tem-pack-panel .arrow i.fa-angle-down{display: none;}
.tem-pack-panel .arrow.collapsed i.fa-angle-up{ display: none;}
.tem-pack-panel .arrow.collapsed i.fa-angle-down{display: block;}

.tem-pack-panel .panel-body  table{width:100%;}
.tem-pack-panel .panel-body  table tr{height: 80px; border-top:1px solid #e7e7e7; }
.tem-pack-panel .panel-body i.fa-circle{
    margin-right: 6px; color: #eb8d0f;
}
.tem-pack-panel .panel-body  span.succ{
    color: #eb8d0f;
    float: left;
    margin-right: 20px;
}
.tem-pack-panel .panel-body  table tr:hover{
    background-color: #f4f7f6;
}
.succ-ios,.succ-android{ display:inline-block;width:60px; height: 60px; text-align: center; line-height: 60px;margin:0 10px;border:1px solid #fff;  border-radius:50%;}
.succ-ios:hover,.succ-android:hover{ border:1px solid #1eb89e;}
.succ-ios i.fa,.succ-android i.fa{ color: #d2d2d2; font-size: 30px; vertical-align: sub;}
.succ-ios:hover i,.succ-android:hover i{color: #1eb89e;}

.del,.del:hover,.del:active{color: #ff0000;}

/*模板管理*/
.tem-manage{ overflow: hidden;}
.tem-manage li{display: block;width:350px; height: 561px; float: left;background-color: #fff;margin-right: 30px;margin-bottom: 25px;}
.tem-manage li .tem-manage-part{ display: block; font-size: 14px; color: #0a0a0a;padding:10px 25px; }
.manage-p1{ line-height: 30px;}
.manage-p1 i.fa{ color: #eb8d0e; font-size: 9px;}

.manage-btns{margin:20px auto;}
.manage-btns .hide,.manage-btns.active .show{ display: none !important;}
.manage-btns.active .hide,.manage-btns .show{ display: block !important;;}
.manage-btns .btn{ float: left;}


/*使用模板*/
.tem-use-box{}
.tem-use-box h2{ display: block;text-align: center; font-size: 22px; color: #eb8d0e;padding-top:40px;padding-bottom: 30px;}
.tem-use-index{width:242px;margin:20px auto;}
.tem-use-index p{ display: block; font-size: 14px; color: #929191; line-height: 24px; margin-top: 10px; margin-bottom: 30px;}
.tem-use-btn{ display: block;margin:20px auto; border: 1px solid #eb8d0e; color: #eb8d0e; font-size: 16px;width:200px; height: 52px; line-height: 52px; text-align: center; border-radius:40px;}
.tem-use-btn:hover,.tem-use-btn:active{ background-color: #eb8d0e; color: #fff; text-decoration: none;}


/*使用模板  滑动选择*/
.tem-use-slider1{margin:30px 120px;}
.tem-use-slider1 li{margin-right: 35px;margin-left:32px;background: url("../img/phone-bg1.png") no-repeat;width:235px; height: 479px;padding:58px 14px 50px 15px;}
.tem-use-slider1 li img{width:206px;}

.bx-wrapper .bx-viewport{
    box-shadow: none; border: none;
}
.tem-use-slider1 .bx-wrapper .bx-controls-direction a {
    margin-top: -40px;
    width: 50px;
    height: 80px;
}
.tem-use-slider1 .bx-wrapper .bx-prev {
    left: -60px;
    background: url(../img/tem-icon.png) no-repeat 0 -80px;
}
.tem-use-slider1 .bx-wrapper .bx-next {
    right: -60px;
    background: url(../img/tem-icon.png) no-repeat -50px -80px;
}
.tem-use-slider1 .bx-wrapper .bx-prev:hover,.tem-use-slider1 .bx-wrapper .bx-next:hover {
    opacity: 0.8;
}
.tem-use-slider1 .bx-wrapper .bx-prev:hover {
    background-position:0 -80px;
}
.tem-use-slider1 .bx-wrapper .bx-next:hover {
    background-position:  -50px -80px;
}
.tem-use-slider1 .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{bottom: -45px;}
.tem-use-slider1 .bx-wrapper .bx-pager.bx-default-pager a{ background-color: #fff; border: 1px solid #f79f47;width:20px; height: 20px; border-radius: 50% !important;}
.tem-use-slider1 .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background-color: #f79f47;}

.tem-foot-btns{ text-align: center; padding:45px;}
.tem-foot-btns a.tem-btn1{ min-width: 100px; height: 38px; line-height: 38px;padding:0; margin:0 45px; font-size: 16px;}
.tem-foot-btns a{background-color: #fff; border: 1px solid #f79f47; color: #f79f47;}
.tem-foot-btns a:hover{background-color: #f79f47;color: #fff;}

/*高级编辑*/
.tem-use-app{padding:50px;}
.tem-app-phone { float: left;margin-right: 3%;background: url("../img/phone-bg1.png") no-repeat;width:235px; height: 479px;padding:58px 14px 50px 15px;}
.tem-app-phone img{width: 206px;}

.tem-slider-center .bx-wrapper{width:70px;float: left;padding:40px 0 10px 0;}
.tem-slider-center .bx-wrapper .bx-viewport{left:0;}
.tem-slider-center .bxslider li{ width:70px; height: 70px; line-height: 70px; text-align: center; border: 1px solid #eb8d0f; border-radius: 50% !important;}
.tem-slider-center .bxslider li a{ display: block; color: #818282;width:100%; height: 100%;border-radius: 50% !important;}
.tem-slider-center .bxslider li.active a,.tem-slider-center .bxslider li:hover a{ background-color: #eb8d0f; color: #fff;}

.tem-slider-center  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    left:50%;
    margin-left:-18px;
    margin-top: 0;
    outline: 0;
    width: 36px;
    height: 20px;
}
.tem-slider-center .bx-wrapper .bx-prev {
    top:10px;
    background: url(../img/tem-icon.png) no-repeat 0 -160px;
}
.tem-slider-center .bx-wrapper .bx-next {
    top:100%;
    background: url(../img/tem-icon.png) no-repeat -50px -160px;
}

.tem-slider-right { float: left;margin-left: 3%;}
.tem-slider-right h3{ color: #464545; font-size: 16px;margin-bottom: 30px;margin-top: 0; border-bottom: 1px solid #e7e7e7;padding-bottom: 15px;}
.tem-color-box{margin-bottom: 30px;}

/*应用基本信息*/
.tem-app-right{float: left;/*margin-left:255px;*/}
.tem-app-right h2{ display: block; color: #eb8d0d; font-size: 16px;padding-left: 15px;}
.lit-tips{ display: inline-block; color: #5b5b5b; font-size: 12px;}


.tem-app-right form{padding:0 15px;}
.tem-app-right form h3{display: block; color: #2d2d2d; font-size: 16px;}
.tem-app-right form .control-label{ color: #5b5b5b; font-size: 12px;margin-bottom: 10px;}
.tem-app-right .form-horizontal .form-group{margin-left:0;margin-right: 0;}

.tem-app-right form h3{ border-bottom: none;}
.tem-appbg-box{ overflow: hidden;}
.tem-appbg-box li{ display: inline-block;width:68px; height: 68px; float: left;margin-right: 30px;}
.tem-appbg-box li:last-child{margin-right: 0;width:38px;}
.tem-appbg-box li span{ display:block;width:100%; height: 100%; border-radius:5px !important;cursor: pointer;}
.app-bg1{ background-color: #9d9df6;}
.app-bg2{ background-color: #fcad5d;}
.app-bg3{ background-color: #ff6e16;}
.app-bg4{ background-color: #0decb5;}
.app-bg5{ background-color: #e1e1e1;}
.tem-appbg-box li .add-img{width:38px; height: 38px; background-color: #eb8d0d; border-radius:50% !important; text-align: center; color: #fff; margin-top:15px;cursor: pointer; }

.tem-loading{ overflow: hidden;}
.tem-loading li{width:156px; height: 260px; border-radius:5px !important;margin-right: 60px; float: left; text-align: center;line-height: 260px; cursor: pointer;}
.tem-loading li img{width:156px; height: 260px;}
.tem-loading li .add-img{ display: block; border:1px solid #e1e1e1; border-radius:5px !important;width:156px; height: 260px;   }
.tem-loading li .add-img i.fa{ color: #eb8d0d; font-size: 40px;}









@media (max-width: 1280px){
    .tem-use-slider1{margin:30px 130px;}
    .tem-use-slider1 li{margin-left:52px;margin-right:52px;}
}

.wid986{min-width: 986px; overflow: auto;}
.wid1068{min-width: 1068px; overflow: auto;}









